% setdefault("napaka","")
%rebase("base.html",naslov="Dodaja novega modela vozila",uporabnik=1,napaka=napaka)

<div class="container w-50">   
<form action="{{url('dodaj_model')}}" method="post">
    <div class="text-center mt-3">
        <label for="znamka">Znamka:</label>
        <select class="form-select" name="znamka" id="znamka">    
        %for x in seznam_znamk:
            %if x[1]=="Skoda":
                <option value="15">Škoda</option>
            %else:          
                <option value="{{x[0]}}">{{x[1]}}</option>
            %end
        %end
        </select>
    </div>

    <div class="text-center mt-3">
        <label for="dodan_model">Model:</label>
        <input class="form-control" name="dodan_model" id="dodan_model" value="{{dodan_model}}" type="text" />
    </div>

    <div class="text-center mt-3">
        <input class="form-select mb-5 mt-3 btn btn-danger" value = "Dodaj" type="submit" />
    </div>
</form>
</div>