% setdefault("napaka","")
% rebase("base.html",naslov="",uporabnik=1,napaka="")

<div class="container w-50">    
    <form action="{{url('filter')}}" method="get">
        <div class="text-center mt-5">
        <input class="form-control btn btn-danger" value = "Iskanje" type="submit" />
        </div>
    </form>

    <form action="{{url('objava')}}" method="get">
        <div class="text-center mt-3">
        <input class="form-control btn btn-danger" value = "Objava oglasa" type="submit" />
        </div>
    </form>

    <form action="{{url('dodaj_znamko')}}" method="get">
        <div class="text-center mt-3">
        <input class="form-control btn btn-danger" value = "Dodaj znamko" type="submit" />
        </div>
    </form>

    <form action="{{url('dodaj_model')}}" method="get">
        <div class="text-center mt-3">
        <input class="form-control btn btn-danger" value = "Dodaj model" type="submit" />
        </div>
    </form>

    <form action="{{url('dodaj_administratorja')}}" method="get">
        <div class="text-center mb-5 mt-3">
        <input class="form-control btn btn-danger" value = "Dodaj administratorja" type="submit" />
        </div>
    </form>
<div>

