<html>
<head>
</head>
<body>
    <form action="/filter" method="get">
        <input value = "Iskanje" type="submit" />
    </form>
    <form action="/objava" method="get">
        <input value = "Objava oglasa" type="submit" />
    </form>
    <form action="/dodaj_znamko" method="get">
        <input value = "Dodaj znamko" type="submit" />
    </form>
    <form action="/dodaj_model" method="get">
        <input value = "Dodaj model" type="submit" />
    </form>
    <form action="/dodaj_administratorja" method="get">
        <input value = "Dodaj administratorja" type="submit" />
    </form>
</body>
</html> 