% setdefault("napaka","")
%rebase("base.html",naslov="Izberite",uporabnik=0,napaka="")

<div class="container w-50">    
    <form action="{{url('filter')}}" method="get">
        <div class="text-center mt-5">
        <input class="form-control btn btn-danger" value = "Iskanje" type="submit" />
        </div>
    </form>

    <form action="{{url('objava')}}" method="get">
        <div class="text-center mt-4 mb-5">
        <input class="form-control btn btn-danger" value = "Objava oglasa" type="submit" />
        </div>
    </form>
</div>

