%setdefault("napaka","")
%rebase("base.html",naslov="Registracija",uporabnik=2,napaka=napaka)
<div class="container w-25"></div>
    <form action="{{url('registracija')}}" method="post">
        <div class="text-center mt-3">
            <label for="ime" class="form-label">Ime:</label>
            <input class="form-control" id="ime" name="ime" value="{{ime}}" type="text" />
        </div>
        <div class="text-center mt-3">
            <label for="uporabnisko_ime" class="form-label">Uporabniško ime:</label>
            <input class="form-control" id="uporabnisko_ime" name="uporabnisko_ime" value="{{uporabnisko_ime}}" type="text" />
        </div>
        <div class="text-center mt-3">
            <label for="geslo" class="form-label">Geslo:</label>
            <input class="form-control" id="geslo" name="geslo" value ="{{geslo}}" type="password" />
        </div>
        <div class="text-center mt-3">
            <label for="tel" class="form-label">Telefon:</label>
            <input class="form-control" id="tel" name="tel"value="{{tel}}" type="text" />
        </div>
        <div class="text-center mt-3 mb-3">
            <label for="zav">Zavarovlnica:</label>
            <select class="form-select" name="zav" id="zav">
                %for id, zavarovalnica in a:
                    <option value="{{id}}" {{'selected' if id == zav else ''}}>{{zavarovalnica}}</option>
                %end
            </select>
        </div>
        <input class="form-control mb-5 mt-3 btn btn-danger" value = "Registracija" type="submit" />
    </form>
</div>
