<html>
<head>
</head>
<body>
    %if len(oglasi) !=0:
        %for x in oglasi:
        
            %if x[0] in ugoden_servis_znamka1:
                <p style="color:greenyellow">{{x[0]}} Cena:{{x[1]}} Stanje:{{x[2]}}</p>
            %else:
                <p>{{x[0]}} Cena:{{x[1]}} Stanje:{{x[2]}}</p>
            %end
        %end
    %else:
        <p>Za vaše iskanje ni rezultatov</p>
    %end

    <p>Cena financiranja pod 50000</p>
    <p>Financiranje s popustom pri vaši zavarovalnici: {{finan_ugodno1}}</p>
    <p> Financiranje pri ostalih zavarovalnicah</p>
    %for x in seznam_premij1:
        <li>{{x[0]}}</li>
    %end


    <p> Cena financiranja nad 50000</p>
    <p>Financiranje s popustom pri vaši zavarovalnici: {{finan_ugodno2}}</p>
    <p>Financiranje pri ostalih zavarovalnicah:</p>
    %for x in seznam_premij2:
        <li>{{x[0]}}</li>
    %end

    <p>Znamke pri katerih imate ugoden servis:</p>
    %for x in ugoden_servis_znamka1:
        <li>{{x}}</li>
    %end
</body>
</html> 